.sidebar {
    background-color: var(--purple-200);
    padding: 2rem;
    padding-left: 5%;
    border-radius: 30px;
    height: 60vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 0.3s;
}

.sidebar li {
    width: 150%;
    transition: background-color 0.3s;
    font-size: 10px;
}

.sidebar a {
    display: block;
    width: 100%;
    padding: 0.70rem 0.5rem;
    text-decoration: none;
    color: var(--purple-600);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border-radius: 15px;
    transition: background 0.3s, transform 0.3s;
}

.sidebar a:hover {
    background-color: var(--purple-300);
    color: var(--purple-600);
    transform: scale(1.05);
}

.sidebar a.active {
    background-color: var(--purple-400);
    color: var(--purple-800);
    border-radius: 15px;
    transform: scale(1.05);
}

@media screen and (max-width: 768px){
    .sidebar {
        position: sticky;
        display: flex;
        flex-direction: row;
        height: auto;
        width: 75vw;
    }

    .sidebar ul {
        position: sticky;
        display: flex;
        flex-direction: row;
        margin-left: 0%;
    }

    .sidebar a {
        font-size: 0.66rem;
    }
}