<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../../src/assets/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Sebastian Huertas</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		--purple-50: #fbf6fe;
		--purple-100: #f5eafd;
		--purple-200: #edd8fc;
		--purple-300: #dfb9f9;
		--purple-400: #cc8cf4;
		--purple-500: #b860ec;
		--purple-600: #a440dd;
		--purple-700: #8b2dbe;
		--purple-800: #772a9f;
		--purple-900: #622380;
		--purple-950: #430d5e;
	}
</style>