<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../../src/assets/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Sebastian Huertas</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		background-color: rgb(77, 0, 91);
		font-family:sans-serif;
		margin: 0%;
	}
</style>
