---
import profileImage from '../../../assets/profile.jpg'
import './style.scss'
---

<>
    <img src=profileImage />
    <h3>Sebastian Huertas</h3>
    <p class="profession" >Junior Programmer</p>
</>