img {
    border-radius: 20px;
    border: 2px solid var(--purple-200);
    position: relative;
    margin-top: -8rem;
}

.profession {
    font-weight: 700;
    padding: 0.1rem;
    color: var(--purple-800);
    border-radius: 10px;
    background-color: var(--purple-300);
    margin-top: -5%;
    margin-bottom: 0%;
}

   

@media (max-width: 768px) {
    img {
        margin-top: 0;
        width: 150px;
        height: 150px;
    }

}
